
.ingresar
{
  background-color: #4DE5FD;
  padding:25px;
  border-radius:10px;
}

.tabla_ventas tr td
{
  padding:10px;
  background-color:#d5d5d5;
  text-align:center;
}


.datos_nueva_sucursal
{

	background-color:#d5d5d5; padding:17px;
}

.fondo-azul
{
	background-color:#E0EDFA;
}